@import './theme.css';
@import './assets/Roboto-Light.ttf';

body, p {
  font-family: 'Roboto', sans-serif;
}

#links {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 15%;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  justify-content: space-between;
}
#bottom-layer, #bottom-layer p {
  margin-top: 17.5%;
}
