@import './theme.css';
@import './assets/fonts/Oswald.ttf';
@import './assets/fonts/Roboto-Light.ttf';

body, p {
  font-family: 'Oswald', sans-serif;
}

#links {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 15%;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  justify-content: space-between;
}

#bottom-layer, #bottom-layer p {
  font-size: small;
  text-align: center;
  margin-top: 17%;
  margin-right: auto;
  margin-left: auto;
  color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}
