@import './theme.css';
@import './assets/Roboto-Light.ttf';

body, p {
  font-family: 'Roboto', sans-serif;
}

.bfs-full {
  width: 35vw;
  height: auto;
  max-width: 50vh;
  max-height: auto;
  margin-top: 5%;
  position: relative;
  justify-content: center;
}

.description {
  font-size: x-large;
  color: #161515;
  padding: 10% 5%;
  margin-top: -25px;
  justify-content: center;
}

.glass {
  width: 500px;
  height: 400px;
  background: rgba(255, 255, 255, 0.75);
  padding: 35px;
  text-align: center;
  margin: auto;
  margin-top: 125px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10%;
}

@media screen and (min-height: 1100px) {
  .bfs-full {
    width: 75vw;
    height: auto;
  }
}