@import "variables.scss";

.not-found {
    align-items: center;
    display: flex;
    .not-found-text {
        top: 60%;
        font-size: 3rem;
        position: absolute;
        font-weight: 500;
        text-align: center;
        color: $off-white;
        mix-blend-mode: difference;
        @media (max-width: 1440px) {
            font-size: 2rem;
        }
    }

    .not-found-img {
        display: grid;
        align-items: center;
        background-color: $dark-mode;
        position: relative;
        height: 100vh;
        width: 536px;
        margin: 0 auto;
        @media(max-width: 1440px) {
            width: 128px;
        }
    }    
}
