@import "variables.scss";

html {
    background: linear-gradient(45deg,#2e2a29,#4a3f35,#fa7d09, #ff4301);
    animation: gradient 30s ease-in-out infinite;
    animation-direction: alternate;
    background-size: 600% 100%;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media (max-width: 1920px) {
        width: 1760px;
        min-width: 1760px;
    }
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}

// Header
header {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            Link {
                font-weight: 550;
                text-decoration: none;
                letter-spacing: 1.25px;
                color: $off-white;
            }
            a {
                font-weight: 550;
                text-decoration: none;
                letter-spacing: 1.25px;
                color: $off-white;
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $off-white;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

// Banner
.banner {
    display: flex;
    align-items: center;
    //background-color: $dark-mode;
    position: relative;
    height: 100vh;
    //background: linear-gradient(45deg,#F17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
    //background: repeating-linear-gradient();
    //-webkit-animation: gradientBG 40s ease infinite;
    .row {
        position: relative;
        .main-text {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: 5.8rem;
            text-transform: uppercase;
            letter-spacing: 42px;
            font-weight: 555;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: difference; // Wokarol not likey
            z-index: 9;
            @media (max-width: 1440px) {
                font-size: 4.4rem;
                letter-spacing: 12px;
            }
        }
    }
    .main-image {
        width: 536px;
        margin: 0 auto;
        @media(max-width: 1440px) {
            width: 436px; // Adjusts the size of the logo of Black Frog Studio.
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #30302f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2e2e2d; 
  }








/*
@keyframes gradientFlow {
    0% {
        background-position: 0 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes gradientFlow 
{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
*/


/*
@-webkit-keyframes gradientBG 
{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes gradientBG 
{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
*/



































/*
body {
    background: #131212;
}
p {
    color: whitesmoke;

}
a {
    color: #009CD3;
}
//div {
//    //text-align: center;
//    //align-self: center;
//}
*/



/*
Code before I fucked up my already fucked up code
@import "variables.scss";

html {
    background: linear-gradient(45deg,#2e2a29,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    background-size: 600% 100%;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media (max-width: 1920px) {
        width: 1760px;
        min-width: 1760px;
    }
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}

// Header
header {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            Link {
                font-weight: 550;
                text-decoration: none;
                letter-spacing: 1.25px;
                color: $off-white;
            }
            a {
                font-weight: 550;
                text-decoration: none;
                letter-spacing: 1.25px;
                color: $off-white;
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $off-white;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

// Banner
.banner {
    display: flex;
    align-items: center;
    //background-color: $dark-mode;
    position: relative;
    height: 100vh;
    //background: linear-gradient(45deg,#F17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
    //background: repeating-linear-gradient();
    //-webkit-animation: gradientBG 40s ease infinite;
    .row {
        position: relative;
        .main-text {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: 5.8rem;
            text-transform: uppercase;
            letter-spacing: 42px;
            font-weight: 555;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: difference; // Wokarol not likey
            z-index: 9;
            @media (max-width: 1440px) {
                font-size: 4.4rem;
                letter-spacing: 12px;
            }
        }
    }
    .main-image {
        width: 536px;
        margin: 0 auto;
        @media(max-width: 1440px) {
            width: 436px; // Adjusts the size of the logo of Black Frog Studio.
        }
    }
}

/*
@keyframes gradientFlow {
    0% {
        background-position: 0 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes gradientFlow 
{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
*/


/*
@-webkit-keyframes gradientBG 
{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes gradientBG 
{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
*/



































/*
body {
    background: #131212;
}
p {
    color: whitesmoke;

}
a {
    color: #009CD3;
}
//div {
//    //text-align: center;
//    //align-self: center;
//}

*/